:root{
    --main:rgba(189, 125, 28, 0.54);
}
body{
    background-color: rgba(228, 213, 191, 0.586);
    background-image: url("assets/image/photo-1527786356703-4b100091cd2c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:hue;
}
flex-header{
    display: flex;
}


.introduction{
    margin: 20px 60px;
    }

h1{
    padding-top: 9rem;
    color: var(--main);
    font-size: 10rem;
}

.introduction p{
    font-size: 3rem;
    padding: 4vh;
    color: rgba(175, 113, 18, 0.54);
}
h2{
    color: var(--main);
    display: flex;
    font-size: 4rem;
    margin: 5%;
    padding: 0px 5% 8% 50px;
    border-right:4px solid #CFB2A0;
    position: relative;
    left:15vh;
    text-align: right;
}

#about{
    display: flex;
    justify-content: space-around;
    margin-top: 12%;
}
#about p{
    color: rgb(79, 46, 3);
    font-size: 2rem;
    margin:4% 12%;
    padding: 3% 2%;
    text-align: justify;
    background-color: rgb(196, 225, 221,0.2);
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
